.TodoItem {
    width: 100%;
    border: solid black 1px;
    margin-bottom: 10px;
    text-align: left;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TodoItem p {
    margin: 0;
    width: 90%;
}

.TodoItem button {
    width: 10%;
    background: red;
    color: white;
    outline: none;
    border: none;
    padding: 5px
}

.TodoItem button:hover {
    background: darkred;
}

.TodoItem button:active {
    background: red;
}