.AddTodoForm {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.AddTodoForm input {
    width: 80%;
    height: 20px;
    padding: 10px;
}

.AddTodoForm button {
    width: 20%;
    outline: none;
    background: royalblue;
    border: none;
    color: white;
}